* {
    background-color: rgb(110, 88, 62);
    color: white;
}

table {
    border: 15px ridge tan;
    padding: 5px;
    margin: 15px auto;
}

#head {
    display: flex;
    justify-content: center;
}

#buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 175px;
    padding-right: 175px;
}

#add-row {
    background-color: white;
    color: black;
    border-radius: 40% 4%;
    height: 1.7rem;
    width: 5rem;
}

td {
    height: 1rem;
    width: 1rem;
    border: black solid 1px;
}

#options {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#option {
    padding: 5px;
}

#hide {
    display: none;
}

#show {
    display: block;
}

#instructions {
    padding: 5px 175px;
}